[core]
	fileMode = false
	editor = nvim
	autocrlf = input
  excludesfile = ~/.gitignore
[alias]
    df = "!git hist | peco | awk '{print $2}' | xargs -I {} git diff {}^ {}"
    hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --graph --date=relative --decorate --all
    llog = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
    l = log --pretty=oneline --abbrev-commit
    ld = log --pretty=oneline --abbrev-commit --since="1am"
    a = "!git status --short | peco | awk '{print $2}' | xargs git add"
    ap = add -p
    af = "!add_fzf() { git status -s | awk '{print $2}' | fzf -m | xargs git add; }; add_fzf"
    st = status
    br = branch
    bra = branch -a
    open = "!hub browse"
    c = commit
    cm = commit -m
    ca = commit -a
    d = diff
    co = checkout
    cob = checkout -b
    cop = "!git checkout $(git branch | peco)"
    cof = "!checkout_fzf() { git branch | fzf | xargs git checkout; }; checkout_fzf"
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    vrf = "!vim -nw -Q $(git log --pretty=format: --name-only --since='7 days ago' | peco )"
	  fzf = "!f() { /home/ryba/.scripts/git-fzf/git-fzf.sh $@; }; f"
[hub]
    protoocol = https
[github]
    user = rybchynski
[diff]
    # tool = nvimdiff
    tool = meld
[difftool "meld"]
    path = /usr/bin/meld
[difftool]
    prompt = false

[merge]
	tool = meld
#[mergetool "meld"]
#    cmd = meld \"$LOCAL\" \"$MERGED\" \"$REMOTE\" --output \"$MERGED\"
[user]
	name = "Yuriy Rybchynski"
	email = "yuriyrybchynski.dev@gmail.com"

